<svg id="svg">

	<g id="diagram" data-drag="diagram:diagram" data-drag-type="diagram">
		<g id="node-layer">

			<!-- PROCESS 1 -->
			<g class="node-container" cdkDrag>
				<rect class="node-background" width="240" height="128" x="0" y="0" rx="6" ry="6" />
				<g class="node-header">
					<rect class="header-round-rect" width="235" height="40" x="2" y="2" rx="4" ry="4" />
					<rect class="header-rect" width="200" height="36" x="2" y="6" />
					<text class="header-title" x="102" y="30">Process 1</text>
				</g>

				<g class="node-content">

					<rect class="content-round-rect" width="235" height="82" x="2" y="44" rx="4" ry="4" />
					<rect class="content-rect" width="200" height="77" x="2" y="44" />

					<g class="inputs">

						<g class="input-field" transform="translate(0, 50)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 1</text>
						</g>

						<g class="input-field" transform="translate(0, 75)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 2</text>
						</g>

						<g class="input-field" transform="translate(0, 100)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 3</text>
						</g>

					</g>

					<g class="outputs">

						<g class="output-field" transform="translate(0, 50)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 1</text>
						</g>

						<g class="output-field" transform="translate(0, 75)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 2</text>
						</g>

						<g class="output-field" transform="translate(0, 100)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 3</text>
						</g>
					</g>

				</g>
			</g>

			<!-- PROCESS 2 -->
			<g class="node-container" cdkDrag>
				<rect class="node-background" width="240" height="128" x="0" y="0" rx="6" ry="6" />
				<g class="node-header">
					<rect class="header-round-rect" width="235" height="40" x="2" y="2" rx="4" ry="4" />
					<rect class="header-rect" width="200" height="36" x="2" y="6" />
					<text class="header-title" x="102" y="30">Process 2</text>
				</g>

				<g class="node-content">

					<rect class="content-round-rect" width="235" height="82" x="2" y="44" rx="4" ry="4" />
					<rect class="content-rect" width="200" height="77" x="2" y="44" />

					<g class="inputs">

						<g class="input-field" transform="translate(0, 50)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 4</text>
						</g>

						<g class="input-field" transform="translate(0, 75)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 5</text>
						</g>

						<g class="input-field" transform="translate(0, 100)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 6</text>
						</g>

					</g>

					<g class="outputs">

						<g class="output-field" transform="translate(0, 50)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 4</text>
						</g>

						<g class="output-field" transform="translate(0, 75)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 5</text>
						</g>

						<g class="output-field" transform="translate(0, 100)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 6</text>
						</g>
					</g>

				</g>
			</g>

			<!-- PROCESS 3 -->
			<g class="node-container" cdkDrag>
				<rect class="node-background" width="240" height="128" x="0" y="0" rx="6" ry="6" />
				<g class="node-header">
					<rect class="header-round-rect" width="235" height="40" x="2" y="2" rx="4" ry="4" />
					<rect class="header-rect" width="200" height="36" x="2" y="6" />
					<text class="header-title" x="102" y="30">Process 3</text>
				</g>

				<g class="node-content">

					<rect class="content-round-rect" width="235" height="82" x="2" y="44" rx="4" ry="4" />
					<rect class="content-rect" width="200" height="77" x="2" y="44" />

					<g class="inputs">

						<g class="input-field" transform="translate(0, 50)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 7</text>
						</g>

						<g class="input-field" transform="translate(0, 75)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 8</text>
						</g>

						<g class="input-field" transform="translate(0, 100)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 9</text>
						</g>

					</g>

					<g class="outputs">

						<g class="output-field" transform="translate(0, 50)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 7</text>
						</g>

						<g class="output-field" transform="translate(0, 75)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 8</text>
						</g>

						<g class="output-field" transform="translate(0, 100)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 9</text>
						</g>
					</g>

				</g>
			</g>

			<!-- PROCESS 4 -->
			<g class="node-container" cdkDrag>
				<rect class="node-background" width="240" height="128" x="0" y="0" rx="6" ry="6" />

				<g class="node-header">
					<rect class="header-round-rect" width="235" height="40" x="2" y="2" rx="4" ry="4" />
					<rect class="header-rect" width="200" height="36" x="2" y="6" />
					<text class="header-title" x="102" y="30">Process 4</text>
				</g>

				<g class="node-content">

					<rect class="content-round-rect" width="235" height="82" x="2" y="44" rx="4" ry="4" />
					<rect class="content-rect" width="200" height="77" x="2" y="44" />

					<g class="inputs">

						<g class="input-field" transform="translate(0, 50)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 10</text>
						</g>

						<g class="input-field" transform="translate(0, 75)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 11</text>
						</g>

						<g class="input-field" transform="translate(0, 100)">
							<g class="port">
								<circle class="port-outer" cx="15" cy="10" r="7.5" />
								<circle class="port-inner" cx="15" cy="10" r="5" />
								<circle class="port-scrim" cx="15" cy="10" r="7.5" />
							</g>
							<text class="port-label" x="28" y="14">Input 12</text>
						</g>

					</g>

					<g class="outputs">

						<g class="output-field" transform="translate(0, 50)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 10</text>
						</g>

						<g class="output-field" transform="translate(0, 75)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 11</text>
						</g>

						<g class="output-field" transform="translate(0, 100)">
							<g class="port" data-clickable="false">
								<circle class="port-outer" cx="165" cy="10" r="7.5" />
								<circle class="port-inner" cx="165" cy="10" r="5" />
								<circle class="port-scrim" cx="165" cy="10" r="7.5" data-clickable="false" />
							</g>
							<text class="port-label" x="176" y="14">Output 12</text>
						</g>
					</g>

				</g>
			</g>
		</g>

		<g id="connections-layer"></g>

		<g class="connector">

			<path class="connector-path-outline" />
			<path class="connector-path" />

			<circle class="connector-handle input-handle" cx="0" cy="0" r="4" />
			<circle class="connector-handle output-handle" cx="0" cy="0" r="4" />
		</g>

		<circle id="drag-proxy" cx="0" cy="0" r="1" fill="none" />
	</g>
</svg>
<svg width="190" height="160" xmlns="http://www.w3.org/2000/svg">

  <path d="M 10 10 C 20 20, 40 20, 50 10" stroke="black" fill="transparent"/>
  <path d="M 70 10 C 70 20, 120 20, 120 10" stroke="black" fill="transparent"/>
  <path d="M 130 10 C 120 20, 180 20, 170 10" stroke="black" fill="transparent"/>
  <path d="M 10 60 C 20 80, 40 80, 50 60" stroke="black" fill="transparent"/>
  <path d="M 70 60 C 70 80, 110 80, 110 60" stroke="black" fill="transparent"/>
  <path d="M 130 60 C 120 80, 180 80, 170 60" stroke="black" fill="transparent"/>
  <path d="M 10 110 C 20 140, 40 140, 50 110" stroke="black" fill="transparent"/>
  <path d="M 70 110 C 70 140, 110 140, 110 110" stroke="black" fill="transparent"/>
  <path d="M 130 110 C 120 140, 180 140, 170 110" stroke="black" fill="transparent"/>

</svg>